.env
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
data/raw/*.csv
data/processed/*.csv
data/processed/*.png
!.gitkeep
*.log
.pycache/
.mplconfig/
_site/
website/_site/
website/*.html
venv/
.venv/
env/
